.DS_Store
*/.DS_Store

__pycache__/
*.py[cod]

.env
.env.*

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

dist/
build/

Assignment_1/setup_step5.sh
Assignment_1/dtobpy.sh
Assignment_1/scripts/__pycache__/
Assignment_1/scripts/__pycache__/yelp_to_dynamodb.cpython-39.pyc
Assignment_1/scripts/__pycache__/ddb_to_opensearch_bulk.cpython-39.pyc
Assignment_1/lambda/__pycache__/
assignment_2/todo_webapp/slack-webhook.txt
assignment_2/Deployment and Management of a Flask Todo Applicat.docx